Repository comworkio/github-dynamic-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: x86, arm, deploy

x86:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "x86" "github-dynamic-changelog" "1.8"
  tags:
  - github-changelog

arm:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "arm" "github-dynamic-changelog" "1.8"
  tags:
  - buildarm

deploy:
  stage: deploy
  script:
  - setsid ./ci/deploy.sh
  tags:
  - github-changelog

Add deployment step to pipeline
  .gitlab-ci.yml
  ci/deploy.sh
Due: x86, arm, deploy

Deployment docker-compose file
  .gitlab-ci.yml
  docker-compose-comwork.yml
Due: x86, arm, deploy

Improve documentation
  README.md
  images/github-dynamic-changelog.png
Due: none

Improve documentation
  README.md
Due: none

Manage github access token with gitlab secret variables
  README.md
  ci/deploy.sh
Due: none

Some refactoring
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  api/api.py
Due: x86, arm, deploy

Some refactoring again
  .gitlab-ci.yml
  api/api.py
  api/changelog_utils.py
  api/github_api_specifications.py
Due: x86, arm, deploy

Refactoring: extracting root_api and manifest_api outside
  .gitlab-ci.yml
  api/api.py
  api/api_manifest.py
  api/api_root.py
Due: x86, arm, deploy

Refactoring: extract changelog api into a new file
  .gitlab-ci.yml
  api/api.py
  api/api_changelog.py
Due: x86, arm, deploy

Add label api in order to be able to patch issues with labels
  .gitlab-ci.yml
  README.md
  api/api.py
  api/api_label.py
  api/changelog_utils.py
  api/github_api_specifications.py
Due: x86, arm, deploy

Add labels and id to the payload for pull requests
  .gitlab-ci.yml
  api/api_changelog.py
Due: x86, arm, deploy

Rename dockerfile
  .gitlab-ci.yml
  ci/deploy.sh
  docker-compose-intra.yml
Due: x86, arm, deploy

Add multistage targets
  Dockerfile
  Dockerfile.arm
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
Due: x86, arm, deploy

Add label api client for CI/CD pipelines
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
  label_client/label_client.py
  label_client/label_utils.py
  label_client/requirements.txt
Due: x86, arm, deploy

Handle basic auth authentication
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  README.md
  label_client/label_client.py
Due: x86, arm, deploy

Add controls on the branch name
  .gitlab-ci.yml
  README.md
  label_client/label_client.py
  label_client/label_utils.py
Due: x86, arm, deploy

Remove useless label client image
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
  label_client/label_client.py
  label_client/label_utils.py
  label_client/requirements.txt
Due: x86, arm, deploy

Remove old and deprecated documentation
  README.md
Due: none

Improve pattern of issues detection
  .gitlab-ci.yml
  api/changelog_utils.py
Due: x86, arm, deploy

Update ci/deploy.sh, ci/mirror.sh, ci/docker-deliver.sh
  ci/deploy.sh
  ci/docker-deliver.sh
  ci/mirror.sh
Due: x86, arm, deploy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: x86, arm, deploy

Update ci/deploy.sh
  ci/deploy.sh
Due: none

Add endpoint from sha
  .env
  .gitignore
  .gitlab-ci.yml
  README.md
  api/api_changelog_from_sha.py
  api/changelog_utils.py
Due: x86, arm, deploy

Fix: build arm
  Dockerfile.arm
Due: arm

Fix: from sha
  .gitlab-ci.yml
  Dockerfile
  api/api.py
  api/api_changelog_from_sha.py
Due: x86, arm, deploy

Fix: remove search commit call in from sha api
  .gitlab-ci.yml
  api/api_changelog_from_sha.py
Due: x86, arm, deploy

Fix: it's an array
  .gitlab-ci.yml
  README.md
  api/api_changelog_from_sha.py
Due: x86, arm, deploy

Add gitignore
  .env
  .gitignore
Due: none

Manage external issues
  .gitlab-ci.yml
  api/changelog_utils.py
Due: x86, arm, deploy

Add only prs filter
  .gitlab-ci.yml
  README.md
  api/api_changelog.py
  api/api_changelog_from_sha.py
  api/changelog_utils.py
Due: x86, arm, deploy

Add mirror
  README.md
  ci/mirror.sh
Due: none

Add froggit mirror
  README.md
  ci/mirror.sh
Due: none

Add upload function
  .gitignore
  api/bucket_utils.py
  api/requirements.txt
Due: none

Dump changelog to file and upload to bucket
  .gitlab-ci.yml
  api/bucket_utils.py
  api/changelog_utils.py
Due: x86, arm, deploy

Improve environment variables for bucket
  .env.example
  api/api_changelog.py
  api/api_manifest.py
  api/bucket_utils.py
  api/changelog_utils.py
  api/github_api_specifications.py
Due: none

Refactoring
  README.md
  api/api.py
  api/api_changelog.py
  api/api_changelog_from_sha.py
  api/api_label.py
  api/changelog_utils.py
  api/common_utils.py
  api/http_utils.py
  api/logger_utils.py
Due: none

Fix: use os.environ instead of getenv
  api/api_changelog.py
  api/api_manifest.py
  api/github_api_specifications.py
  api/logger_utils.py
Due: none

Fix: use os.environ instead of getenv
  api/github_api_specifications.py
Due: none

Fix: use os.environ instead of getenv
  api/api_changelog.py
Due: none

Path conditions:
  x86: any of: .gitlab-ci.yml, api.py, requirements.txt, ci/docker-deliver.sh, docker-compose-build-x86.yml, Dockerfile
  arm: any of: .gitlab-ci.yml, api.py, requirements.txt, ci/docker-deliver.sh, docker-compose-build-arm.yml, Dockerfile.arm
  deploy: any of: .gitlab-ci.yml, api.py, requirements.txt, ci/docker-deliver.sh, docker-compose-build.yml, Dockerfile
